@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: Space Grotesk, sans-serif;
}
body {
  font-family: Albert Sans, sans-serif;
}

.ready-to-copy-font {
  font-family: Roboto Mono, sans-serif !important;
}

/* Safari fix hiding input's autofill indicator that doesn't fit our designs */
input::-webkit-contacts-auto-fill-button {
  background-color: transparent;
}

@font-face {
  font-family: Albert Sans;
  src: url(/src/assets/AlbertSans-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(/src/assets/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Space Grotesk;
  src: url(/src/assets/SpaceGrotesk-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Space Grotesk;
  src: url(/src/assets/SpaceGrotesk-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Space Grotesk;
  src: url(/src/assets/SpaceGrotesk-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Space Grotesk;
  src: url(/src/assets/SpaceGrotesk-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Roboto Mono;
  src: url(/src/assets/RobotoMono-Regular.ttf) format('truetype');
  font-weight: normal;
}

.heading1 {
  @apply text-[38px] not-italic font-normal leading-[42px] tracking-[-2px] capitalize;
  font-family: Space Grotesk;
}

.heading2 {
  @apply text-[28px] not-italic font-normal leading-[34px] tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.heading3 {
  @apply text-2xl not-italic font-medium leading-8 tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.heading4 {
  @apply text-2xl not-italic font-light leading-8 tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.heading5 {
  @apply text-xl not-italic font-normal leading-6 tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.subtitle1 {
  @apply text-base not-italic font-medium leading-5 tracking-[-1px];
  font-family: Albert Sans;
}

.subtitle2 {
  @apply text-base not-italic font-normal leading-5 tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.subtitle3 {
  @apply text-base not-italic font-medium leading-6 tracking-[1px] uppercase;
  font-family: Albert Sans;
}

.subtitle4 {
  @apply text-base not-italic font-medium leading-5 tracking-[-1px] capitalize;
  font-family: Space Grotesk;
}

.body1 {
  @apply text-sm not-italic font-medium leading-[normal] uppercase;
  font-family: Montserrat;
}

.body2 {
  @apply text-sm not-italic font-normal leading-4 capitalize;
  font-family: Albert Sans;
}

.body3 {
  @apply text-sm not-italic font-light leading-5;
  font-family: Albert Sans;
}

.body4 {
  @apply text-xs not-italic font-semibold leading-[14px] tracking-[1px] uppercase;
  font-family: Albert Sans;
}

.body5 {
  @apply text-sm not-italic font-normal leading-4;
  font-family: Albert Sans;
}

.caption1 {
  @apply text-xs not-italic font-medium leading-[14px] tracking-[1px] uppercase;
  font-family: Albert Sans;
  text-align: justify;
}

.caption2 {
  @apply text-xs not-italic font-normal leading-4;
  font-family: Albert Sans;
  text-align: justify;
}

.caption3 {
  @apply text-[11px] not-italic font-normal leading-[13px] capitalize;
  font-family: Albert Sans;
  text-align: justify;
}

.caption4 {
  @apply text-[11px] not-italic font-medium leading-[13px] tracking-[1px] uppercase;
  font-family: Albert Sans;
  text-align: justify;
}

.navigation {
  @apply text-xs not-italic font-medium leading-[14px];
  font-family: Albert Sans;
}

.gradient-gray-glass-90 {
  background: var(--gray-glass-90);
}

.gradient-orange-fog {
  background: var(--orange-fog);
}

.gradient-light-glass-70 {
  background: var(--light-glass-70);
}

.gradient-night {
  background: var(--night);
}

.gradient-rainbow {
  background: var(--rainbow);
}

.gradient-moved-to-left {
  background-position-x: -490px;
}
.gradient-moved-to-right {
  background-position-x: 490px;
}

.animate-gradient {
  background-size: 400%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  -webkit-animation: animatedgradient 3s;
  -moz-animation: animatedgradient 3s;
  animation: animatedgradient 3s;
}

.card {
  transition: all 1s ease;
}

@keyframes animatedgradient {
  0% {
    background-position: 200% 0%;
    background-size: 200%;
  }
  50% {
    background-position: 50% 0%;
    background-size: 300%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 400%;
  }
}

@keyframes animateslideup {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(400%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-400%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealMiddle {
  from {
    opacity: 0;
    transform: scale(5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animate-slideFromRight {
  animation: slideFromRight 0.25s ease-out forwards;
}

.animate-slideFromLeft {
  animation: slideFromLeft 0.25s ease-out forwards;
}

.animate-revealMiddle.animate-spinClockwise {
  animation: revealMiddle 0.25s ease-out forwards,
    spinClockwise 0.25s ease-out forwards 0.25s;
}

.animate-slide-up {
  animation: animateslideup 2s;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
